<div class="nav">
    <ul>
        <li>
            <a class="btn" href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a class="btn" href="/tests">Tests</a>
        </li>
        <li class="logout">
            <a class="btn" href="/logout">Log Out</a>
        </li>
    </ul>
    <span class="user-info">Current User: <%= user.get('username') %></span>
</div>
