<!DOCTYPE html>
<html>
<head>
    <% include parts/head.ejs %>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="logIn" name="login" class="login-form">
                <h3>Log In For Use Admin Dashboard</h3>
                <div class="form-group">
                    <label class="form-control-label" for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="username" placeholder="Your Name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="pass">Password</label>
                    <input id="pass" class="form-control" type="password" name="password" placeholder="Admin Password"/>
                </div>
                <div class="form-group">
                    <div class="error" style="display: none">
                        <span class="error-msg"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Log In"/>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary" href="/account/create">New User</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  (function () {
    var form = document.getElementById("logIn");

    function onsubmit(e) {
      e.preventDefault();
//      showError(null);
//      if(!isFormValid(form)){
//        showError("Invalid Form Data");
//        return false;
//      }
      console.log(this.username.value);

      var data = {
        username: this.username.value,
        password: this.password.value
      }

      sendData(data);
      return false;
    }

    form.addEventListener("submit", onsubmit);

    function sendData(data) {
      var host = "http://localhost:3000";
      var uri = "/login";
      var xhr = new XMLHttpRequest();

      xhr.open("POST", host + uri, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var respData = JSON.parse(xhr.responseText)

          console.log(xhr.responseText);
          window.location.href = respData.redirect;
        } else if (xhr.status === 403) {
          console.log(xhr);
          var error = xhr.statusText;

          showError(error);
        }
      };

      // Initiate a multipart/form-data upload
      xhr.send(JSON.stringify(data));
    }

    function isFormValid(form) {
      var inputs = form.find("input"),
        i, l = inputs.length;

      for (i = 0; i < l; i++) {
        if (!inputs[i].value.length) return false;
      }

      return true;
    }

    function showError(msg) {
      var errorHolder = document.querySelector(".error");

      if (!msg) {
        errorHolder.hide();
      } else {
        errorHolder.show();
        errorHolder.querySelector(".error-msg").text(msg || "");
      }
    }

  })();

</script>
</body>
</html>
