<!DOCTYPE html>
<html>
<head>
    <% include parts/head.ejs %>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="signUp" name="signup" class="signup-form">
                <h3>New User Registration</h3>
                <div class="form-group">
                    <label class="form-control-label" for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="username" placeholder="Your Name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="name">Email</label>
                    <input id="email" class="form-control" type="text" name="email" placeholder="Your Email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="pass">Password</label>
                    <input id="pass" class="form-control" type="password" name="password" placeholder="User Password"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="pass">Repeat Password</label>
                    <input id="rePass" class="form-control" type="password" name="re-password" placeholder="Repeat Password"/>
                </div>
                <div class="form-group">
                    <div class="error" style="display: none">
                        <span class="error-msg"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Sign Up"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function () {
      var REDIRECT_URL = "/dashboard";

      var form = document.getElementById("signUp");

      function onsubmit(e) {
        e.preventDefault();
        console.log(this.username.value);

        var data = {
          username: this.username.value,
          email: this.email.value,
          password: this.password.value
        }

        sendData(data);
        return false;
      }

      form.addEventListener("submit", onsubmit);

      function sendData(data) {
        var host = "http://localhost:3000";
        var uri = "/new-user";
        var xhr = new XMLHttpRequest();

        xhr.open("POST", host + uri, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            console.log(xhr.responseText);
            window.location.href = REDIRECT_URL;
          } else (xhr.status === 200){
            console.log(xhr);
              var error = xhr.statusText;

              showError(error);
          }
        };

        // Initiate a multipart/form-data upload
        xhr.send(JSON.stringify(data));
      }

      function isFormValid(form) {
        var inputs = form.find("input"),
          i, l = inputs.length;

        for (i = 0; i < l; i++) {
          if (!inputs[i].value.length) return false;
        }

        return true;
      }

      function showError(msg) {
        var errorHolder = $('.error');

        if (!msg) {
          errorHolder.hide();
        } else {
          errorHolder.show();
          errorHolder.find(".error-msg").text(msg || "");
        }
      }

    })();
</script>
</body>
</html>
